.card {
    background-color: #8400ff9c;
    width: 275px;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.25s;
}

.card:hover {
    transform: scale(1.1);
}

.avatar {
    width: 125px;
    border-radius: 50%;
}

.name {
    margin: 10px 0 5px;
    font-size: 20px;
    text-align: left;
}

.status, 
.species,
.type,
.gender {
    text-align: left;
}